# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
venv/
ENV/
env/

# Ignore environment files
.env

# Ignore log files and test artifacts
*.log
test_log*.txt

# Ignore encryption keys & integrity signatures
*.key
*.sig

# Ignore build/output folders
dist/
build/

# IDE files
.idea/
.vscode/

# Local databases
db/clipboard.db
*.db
